<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="vue.min.js"></script>
</head>
<body>
<div id="app">
    name: <input type="text" v-model="name"/>
    age: <input type="text" v-model="age"/>
    <button @click="add">click</button>
    <ul>
        <li v-for="val in datalist">
            {{val.name}} {{val.age}}
        </li>
    </ul>
</div>
<script>
    new Vue({
        el:'#app',
        data:{
            name:'',
            age:'',
            datalist:[]
        },
        methods:{
            add:function(){
                this.datalist.push({name:this.name,age:this.age})
                this.name='';
                this.age='';
            }
        }
    })
</script>
</body>
</html>